In [1]:
import pandas as pd

In [4]:
quakedf = pd.read_csv('/home/fabricio/Descargas/query.csv')
quakedf.describe()

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,4318.000000,4318.000000,4318.000000,4318.000000,0.0,3974.000000,3974.000000,4318.000000,4318.00000,4318.000000,3829.000000,3829.000000
mean,-28.199848,-70.542696,71.680783,4.387355,NaN,107.263714,0.820601,0.884567,5.81415,6.046642,0.171197,22.408723
std,5.743812,1.990156,64.887232,0.430155,NaN,51.543700,0.608376,0.261934,2.03700,3.855369,0.110326,33.405794
min,-54.249800,-76.304800,1.000000,2.500000,NaN,13.000000,0.010000,0.000000,0.00000,0.000000,0.025000,1.000000
25%,-31.730300,-71.980775,18.362500,4.100000,NaN,62.000000,0.394250,0.700000,4.50000,3.700000,0.066000,5.000000
50%,-30.260900,-71.325800,41.055000,4.300000,NaN,98.000000,0.686000,0.860000,5.50000,5.400000,0.166000,10.000000
75%,-23.053300,-68.894575,114.435000,4.500000,NaN,147.000000,1.092250,1.060000,6.90000,7.500000,0.237000,30.000000
max,-17.227200,-66.797000,286.440000,8.300000,NaN,274.000000,10.422000,2.670000,17.90000,72.800000,0.544000,493.000000