In [2]:
import pandas as pd
import seaborn as sns

In [61]:
data = pd.read_csv('data/tsunamis.csv')
display(data.describe())
display(data.head())
display(data.info())

,ID,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,EVENT_VALIDITY,CAUSE_CODE,FOCAL_DEPTH,...,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION,Unnamed: 46
count,2654.000000,2654.000000,2510.000000,2404.000000,1363.000000,1278.000000,880.000000,2654.000000,2650.000000,905.000000,...,11.000000,225.000000,285.000000,1.330000e+02,948.000000,3.320000e+02,576.000000,127.000000,174.000000,16.000000
mean,2228.544084,1810.496986,6.631076,15.628120,11.327219,28.476526,27.071023,2.354936,1.829057,36.514917,...,1.818182,5406.191111,445.143860,1.656283e+06,203.408088,2.279053e+04,491.951389,13623.425197,336.913793,2.187500
std,1630.843644,347.141742,3.473660,8.666848,6.954016,17.192512,18.082654,1.551922,2.305439,41.108534,...,1.167748,33321.199363,3907.636358,1.908370e+07,3655.601168,2.968828e+05,8515.289425,57856.794439,3812.784639,1.327592
min,1.000000,-2000.000000,1.000000,1.000000,0.000000,0.000000,0.000000,-1.000000,0.000000,0.000000,...,1.000000,1.000000,1.000000,2.000000e-02,0.003000,1.000000e-02,1.000000,1.000000,1.000000,1.000000
25%,959.250000,1821.000000,4.000000,8.000000,5.000000,14.000000,11.425000,1.000000,1.000000,18.000000,...,1.000000,16.000000,1.000000,2.000000e+00,1.000000,2.000000e+00,2.000000,3.000000,1.000000,1.000000
50%,1836.500000,1897.000000,7.000000,16.000000,11.000000,30.000000,26.400000,2.000000,1.000000,33.000000,...,1.000000,80.000000,3.000000,1.000000e+01,2.000000,1.100000e+01,3.000000,4.000000,2.000000,1.500000
75%,3284.750000,1959.750000,10.000000,23.000000,17.500000,43.000000,42.550000,4.000000,1.000000,40.000000,...,3.000000,500.000000,3.000000,5.000000e+02,3.000000,1.000000e+03,3.000000,573.500000,3.000000,3.250000
max,5715.000000,2019.000000,12.000000,31.000000,23.000000,59.000000,59.900000,4.000000,11.000000,600.000000,...,4.000000,374171.000000,50000.000000,2.200855e+08,100000.000000,5.360000e+06,200000.000000,500000.000000,50000.000000,4.000000

,ID,YEAR,MONTH,DAY,HOUR,MINUTE,SECOND,EVENT_VALIDITY,CAUSE_CODE,FOCAL_DEPTH,...,TOTAL_MISSING_DESCRIPTION,TOTAL_INJURIES,TOTAL_INJURIES_DESCRIPTION,TOTAL_DAMAGE_MILLIONS_DOLLARS,TOTAL_DAMAGE_DESCRIPTION,TOTAL_HOUSES_DESTROYED,TOTAL_HOUSES_DESTROYED_DESCRIPTION,TOTAL_HOUSES_DAMAGED,TOTAL_HOUSES_DAMAGED_DESCRIPTION,Unnamed: 46
0,1,-2000,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,...,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN
1,3,-1610,NaN,NaN,NaN,NaN,NaN,4,6.0,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
2,4,-1365,NaN,NaN,NaN,NaN,NaN,1,1.0,NaN,...,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN
3,5,-1300,NaN,NaN,NaN,NaN,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,6,-760,NaN,NaN,NaN,NaN,NaN,2,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2654 entries, 0 to 2653
Data columns (total 47 columns):
ID                                    2654 non-null int64
YEAR                                  2654 non-null int64
MONTH                                 2510 non-null float64
DAY                                   2404 non-null float64
HOUR                                  1363 non-null float64
MINUTE                                1278 non-null float64
SECOND                                880 non-null float64
EVENT_VALIDITY                        2654 non-null int64
CAUSE_CODE                            2650 non-null float64
FOCAL_DEPTH                           905 non-null float64
PRIMARY_MAGNITUDE                     1498 non-null float64
COUNTRY                               2653 non-null object
STATE                                 307 non-null object
LOCATION_NAME                         2638 non-null object
LATITUDE                              2342 non-null object
LONGITUDE                             2292 non-null object
REGION_CODE                           2602 non-null float64
MAXIMUM_WATER_HEIGHT                  1333 non-null float64
ABE                                   206 non-null float64
IIDA                                  635 non-null float64
SOLOVIEV                              1176 non-null float64
WARNING_STATUS                        208 non-null float64
DEATHS                                217 non-null float64
DEATHS_DESCRIPTION                    313 non-null float64
MISSING                               107 non-null float64
MISSING_DESCRIPTION                   82 non-null float64
INJURIES                              22 non-null float64
INJURIES_DESCRIPTION                  2 non-null float64
DAMAGE_MILLIONS_DOLLARS               34 non-null float64
DAMAGE_DESCRIPTION                    490 non-null float64
HOUSES_DESTROYED                      180 non-null float64
HOUSES_DESTROYED_DESCRIPTION          250 non-null float64
HOUSES_DAMAGED                        51 non-null float64
HOUSES_DAMAGED_DESCRIPTION            48 non-null float64
TOTAL_DEATHS                          482 non-null float64
TOTAL_DEATHS_DESCRIPTION              654 non-null float64
TOTAL_MISSING                         98 non-null float64
TOTAL_MISSING_DESCRIPTION             11 non-null float64
TOTAL_INJURIES                        225 non-null float64
TOTAL_INJURIES_DESCRIPTION            285 non-null float64
TOTAL_DAMAGE_MILLIONS_DOLLARS         133 non-null float64
TOTAL_DAMAGE_DESCRIPTION              948 non-null float64
TOTAL_HOUSES_DESTROYED                332 non-null float64
TOTAL_HOUSES_DESTROYED_DESCRIPTION    576 non-null float64
TOTAL_HOUSES_DAMAGED                  127 non-null float64
TOTAL_HOUSES_DAMAGED_DESCRIPTION      174 non-null float64
Unnamed: 46                           16 non-null float64
dtypes: float64(39), int64(3), object(5)
memory usage: 974.6+ KB

None

## Most useful features of the dataset

| Feature         | Type         | Typical Values  | Description                                                                                                                  | Modified?                                             |
|:----------------|--------------|-----------------|-----------------------------------------------------------------------------------------------------------|-------------------------------------------------------|
| YEAR            | Integer | -               | Year in Universal Coordinated Time (also known as Greenwich Mean Time).                                                                                                 |  |
| MONTH            | Integer | -               | Month in Universal Coordinated Time (also known as Greenwich Mean Time).                                                                                                 | |
| DAY            | Integer | -               | Day in Universal Coordinated Time (also known as Greenwich Mean Time).                                                                                                 |  |
| CAUSE_CODE            | Categorical | -               |          0 = Unknown;        1 = Earthquake;        2 = Questionable Earthquake ;        3 = Earthquake and Landslide ;        4 = Volcano and Earthquake ;        5 = Volcano, Earthquake, and Landslide ;        6 = Volcano ;        7 = Volcano and Landslide ;        8 = Landslide ;        9 = Meteorological ;        10 = Explosion ;        11 = Astronomical Tide                                                                                                | - |
| LATITUDE        | Decimal      | [-90.0, 90.0]   | Typical values                                                                                                               |                                                       |
| LONGITUDE       | Decimal      | [-180.0, 180.0] | Typical values                                                                                                               |                                                       |
| PRIMARY_MAGNITUDE             | Decimal      | [0.0, 9.9]    | The value in this column contains the primary earthquake magnitude                                                                                                       |                                                       |
| COUNTRY            | Categorical      | -      |  The Country where the tsunami source occurred (For example enter: Japan or Russia) .                                        |                                                    |
| EVENT_VALIDITY | Categorical      | -        |  Validity of the actual tsunami occurrence is indicated by a numerical rating of the reports of that event: 4 = definite tsunami ;        3 = probable tsunami ;        2 = questionable tsunami ;        1 = very doubtful tsunami ;        0 = event that only caused a seiche or disturbance in an inland river ;        -1 = erroneous entry                                                       |                                                       |

Estas serÃ¡n las columnas a utilizar en este proyecto, el resto se descartarÃ¡.

In [66]:
cols = ['YEAR', 'MONTH', 'DAY', 'CAUSE_CODE', 'LATITUDE',
       'LONGITUDE', 'PRIMARY_MAGNITUDE', 'COUNTRY', 'EVENT_VALIDITY']
#chiledf = data[data['COUNTRY'] == 'CHILE'][cols].copy()
tsunamidf = data[(data['CAUSE_CODE'] == 1)&(data['EVENT_VALIDITY'] == 4)][cols].copy()

No se utiliza STATE debido a que contiene puros valores NaN.
Supuestos:
1. No existe la posibilidad de que en el mismo tiempo haya mas de un tsunami en las misma coordenada y en distinta profundidad.
2. Se obtienen datos solo de Chile, por lo tanto se descartan las columnas de LOCATION_NAME y REGION_CODE

### Limpieza de los datos
Se verifica cuantos datos NaN existen en las columnas

In [67]:
tsunamidf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 748 entries, 9 to 2653
Data columns (total 9 columns):
YEAR                 748 non-null int64
MONTH                743 non-null float64
DAY                  740 non-null float64
CAUSE_CODE           748 non-null float64
LATITUDE             746 non-null object
LONGITUDE            746 non-null object
PRIMARY_MAGNITUDE    726 non-null float64
COUNTRY              748 non-null object
EVENT_VALIDITY       748 non-null int64
dtypes: float64(4), int64(2), object(3)
memory usage: 58.4+ KB

In [69]:
tsunamidf = tsunamidf.dropna(subset=['LATITUDE', 'LONGITUDE', 'PRIMARY_MAGNITUDE'])
chiledf = chiledf.dropna(subset=['LATITUDE', 'LONGITUDE', 'PRIMARY_MAGNITUDE'])

In [76]:
chiledf.to_csv('chiledf.csv', index=False)

In [77]:
pd.read_csv('chiledf.csv')

,YEAR,MONTH,DAY,CAUSE_CODE,LATITUDE,LONGITUDE,PRIMARY_MAGNITUDE,COUNTRY,EVENT_VALIDITY
0,1562,10.0,28.0,1.0,-38.70,-73.50,8.0,CHILE,3
1,1570,2.0,8.0,1.0,-36.75,-73.00,8.3,CHILE,3
2,1575,12.0,16.0,1.0,-39.80,-73.20,8.5,CHILE,3
3,1615,9.0,16.0,1.0,-18.50,-70.35,7.5,CHILE,2
4,1657,3.0,15.0,1.0,-36.83,-73.03,8.0,CHILE,3
5,1681,3.0,10.0,1.0,-18.50,-70.35,7.5,CHILE,1
6,1687,7.0,12.0,1.0,-32.80,-70.70,7.5,CHILE,1
7,1730,7.0,8.0,1.0,-32.50,-71.50,9.1,CHILE,4
8,1737,12.0,24.0,1.0,-43.00,-74.00,8.0,CHILE,1
9,1751,5.0,25.0,1.0,-37.00,-73.00,8.5,CHILE,4
10,1819,4.0,12.0,1.0,-27.00,-71.50,8.5,CHILE,4
11,1822,11.0,20.0,1.0,-33.00,-72.00,8.5,CHILE,4
12,1835,2.0,20.0,1.0,-36.83,-73.03,8.2,CHILE,4
13,1836,7.0,3.0,1.0,-22.60,-70.30,7.5,CHILE,2
14,1837,11.0,7.0,1.0,-42.50,-74.00,8.5,CHILE,4
15,1849,11.0,17.0,1.0,-29.95,-71.37,7.5,CHILE,4
16,1851,5.0,26.0,1.0,-27.35,-70.35,7.2,CHILE,2
17,1858,4.0,24.0,1.0,-30.00,-71.40,6.5,CHILE,2
18,1859,10.0,5.0,1.0,-27.35,-70.35,7.6,CHILE,4
19,1868,8.0,13.0,1.0,-18.60,-71.00,8.5,CHILE,4
20,1868,8.0,14.0,1.0,-18.60,-71.00,8.5,CHILE,4
21,1869,8.0,21.0,1.0,-21.00,-70.00,6.8,CHILE,1
22,1869,8.0,24.0,1.0,-19.60,-70.23,7.5,CHILE,3
23,1871,3.0,25.0,1.0,-35.00,-72.50,7.5,CHILE,2
24,1877,5.0,10.0,1.0,-21.50,-70.50,8.3,CHILE,4
25,1878,1.0,23.0,1.0,-19.92,-70335.00,7.9,CHILE,1
26,1880,8.0,15.0,1.0,-31.62,-71.18,7.7,CHILE,1
27,1898,7.0,23.0,1.0,-36.83,-73.03,6.5,CHILE,1
28,1903,12.0,7.0,1.0,-28.50,-71.00,6.5,CHILE,3
29,1906,8.0,17.0,1.0,-33.00,-72.00,8.2,CHILE,3
...,...,...,...,...,...,...,...,...,...
74,1970,6.0,14.0,1.0,-52.00,-73.80,6.0,CHILE,2
75,1970,6.0,19.0,1.0,-22.28,-70.55,6.4,CHILE,2
76,1970,11.0,28.0,1.0,-20.94,-69.81,6.0,CHILE,2
77,1971,7.0,9.0,1.0,-32.50,-71.20,7.8,CHILE,4
78,1972,6.0,8.0,1.0,-30.50,-71.80,6.6,CHILE,2
79,1972,12.0,29.0,1.0,-30.60,-71.00,5.4,CHILE,2
80,1973,10.0,5.0,1.0,-32.50,-71.50,6.7,CHILE,4
81,1974,8.0,18.0,1.0,-38.50,-73.40,7.1,CHILE,1
82,1975,3.0,13.0,1.0,-29.90,-71.30,6.9,CHILE,1
83,1983,10.0,4.0,1.0,-26535.00,-70563.00,7.7,CHILE,4
84,1985,3.0,3.0,1.0,-33132.00,-71708.00,8.0,CHILE,4
85,1987,3.0,5.0,1.0,-24388.00,-70161.00,7.6,CHILE,4
86,1988,2.0,5.0,1.0,-24753.00,-70433.00,7.2,CHILE,4
87,1995,7.0,30.0,1.0,-23.34,-70294.00,8.0,CHILE,4
88,1995,11.0,1.0,1.0,-28906.00,-71417.00,6.7,CHILE,4
89,1996,9.0,5.0,1.0,-22118.00,-113436.00,6.9,CHILE,4
90,2007,4.0,21.0,3.0,-45285.00,-72606.00,6.2,CHILE,4
91,2007,11.0,14.0,1.0,-22247.00,-69.89,7.7,CHILE,4
92,2010,2.0,27.0,1.0,-36122.00,-72898.00,8.8,CHILE,4
93,2010,3.0,11.0,1.0,-34.29,-71891.00,6.9,CHILE,4
94,2011,2.0,11.0,1.0,-36474.00,-73125.00,6.8,CHILE,4
95,2014,3.0,16.0,1.0,-19965.00,-70814.00,6.7,CHILE,4
96,2014,4.0,1.0,1.0,-19.61,-70769.00,8.2,CHILE,4
97,2014,4.0,3.0,1.0,-20571.00,-70493.00,7.7,CHILE,4
98,2014,10.0,9.0,1.0,-32108.00,-110811.00,7.0,CHILE,4
99,2015,9.0,16.0,1.0,-31573.00,-71674.00,8.3,CHILE,4
100,2015,11.0,11.0,1.0,-29.46,-72.12,6.9,CHILE,4
101,2016,12.0,25.0,1.0,-43517.00,-74391.00,7.6,CHILE,4
102,2017,4.0,24.0,1.0,-33073.00,-72051.00,6.9,CHILE,4
103,2019,6.0,14.0,1.0,-30056.00,-72082.00,6.4,CHILE,4