In [2]:
import pandas as pd

In [5]:
quakedf = pd.read_csv('data/chile.csv')
display(quakedf.describe())
display(quakedf.head())

,latitude,longitude,depth,mag,nst,gap,dmin,rms,horizontalError,depthError,magError,magNst
count,4318.000000,4318.000000,4318.000000,4318.000000,0.0,3974.000000,3974.000000,4318.000000,4318.00000,4318.000000,3829.000000,3829.000000
mean,-28.199848,-70.542696,71.680783,4.387355,NaN,107.263714,0.820601,0.884567,5.81415,6.046642,0.171197,22.408723
std,5.743812,1.990156,64.887232,0.430155,NaN,51.543700,0.608376,0.261934,2.03700,3.855369,0.110326,33.405794
min,-54.249800,-76.304800,1.000000,2.500000,NaN,13.000000,0.010000,0.000000,0.00000,0.000000,0.025000,1.000000
25%,-31.730300,-71.980775,18.362500,4.100000,NaN,62.000000,0.394250,0.700000,4.50000,3.700000,0.066000,5.000000
50%,-30.260900,-71.325800,41.055000,4.300000,NaN,98.000000,0.686000,0.860000,5.50000,5.400000,0.166000,10.000000
75%,-23.053300,-68.894575,114.435000,4.500000,NaN,147.000000,1.092250,1.060000,6.90000,7.500000,0.237000,30.000000
max,-17.227200,-66.797000,286.440000,8.300000,NaN,274.000000,10.422000,2.670000,17.90000,72.800000,0.544000,493.000000

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,...,updated,place,type,horizontalError,depthError,magError,magNst,status,locationSource,magSource
0,2019-07-29T10:01:36.918Z,-28.2771,-67.4825,119.72,4.5,mb,NaN,47.0,2.049,0.78,...,2019-07-29T11:16:32.040Z,"25km SSE of Tinogasta, Argentina",earthquake,7.8,8.7,0.058,88.0,reviewed,us,us
1,2019-07-28T11:16:56.730Z,-24.1272,-67.1311,209.54,4.1,mb,NaN,59.0,1.514,0.72,...,2019-07-28T11:52:41.040Z,"83km W of San Antonio de los Cobres, Argentina",earthquake,9.8,9.6,0.213,6.0,reviewed,us,us
2,2019-07-27T05:15:49.343Z,-24.2585,-67.3734,195.11,4.0,mb,NaN,74.0,1.495,0.56,...,2019-07-27T06:23:37.040Z,"107km W of San Antonio de los Cobres, Argentina",earthquake,8.7,8.8,0.231,5.0,reviewed,us,us
3,2019-07-26T23:22:26.265Z,-29.3847,-72.0229,9.56,4.4,mwr,NaN,134.0,0.865,0.64,...,2019-07-27T21:45:40.040Z,"91km NW of Coquimbo, Chile",earthquake,3.8,5.9,NaN,NaN,reviewed,us,guc
4,2019-07-26T07:38:02.308Z,-19.7661,-70.8364,17.63,4.3,mwr,NaN,117.0,0.831,0.78,...,2019-07-26T08:12:07.040Z,"88km NW of Iquique, Chile",earthquake,4.9,3.2,0.048,41.0,reviewed,us,us

In [11]:
quakedf.columns

Index(['time', 'latitude', 'longitude', 'depth', 'mag', 'magType', 'nst',
       'gap', 'dmin', 'rms', 'net', 'id', 'updated', 'place', 'type',
       'horizontalError', 'depthError', 'magError', 'magNst', 'status',
       'locationSource', 'magSource'],
      dtype='object')