- Instalación de biblioteca COMCAT: https://github.com/usgs/libcomcat

- Documentación: http://usgs.github.io/libcomcat/apidoc/libcomcat.search.html

In [1]:
from libcomcat.search import search,count,get_event_by_id
import datetime
import os.path
import pandas as pd

In [2]:
data = pd.read_csv('chiledf.csv').astype({'MONTH': 'int64', 'DAY': 'int64'})
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 9 columns):
YEAR                 104 non-null int64
MONTH                104 non-null int64
DAY                  104 non-null int64
CAUSE_CODE           104 non-null float64
LATITUDE             104 non-null float64
LONGITUDE            104 non-null float64
PRIMARY_MAGNITUDE    104 non-null float64
COUNTRY              104 non-null object
EVENT_VALIDITY       104 non-null int64
dtypes: float64(4), int64(4), object(1)
memory usage: 7.4+ KB

probando a sacar datos de tsunami *i* del catalogo, luego cuando se haga bien hay que iterar sobre el df. Si regresa mas de un resultado aplicar su promedio (?)

In [3]:
i = 100
date = datetime.datetime(data['YEAR'][i],data['MONTH'][i],data['DAY'][i])
time_str = str(date.year)+'-'+str(date.month)+'-'+str(date.day)
eventlist = search(starttime=date-datetime.timedelta(days=1),
                   endtime=date+datetime.timedelta(days=1),
                   minmagnitude=chiledf['PRIMARY_MAGNITUDE'][i],
                   latitude=data['LATITUDE'][i],
                   longitude=data['LONGITUDE'][i],
                   maxradiuskm=100)

NameError: name 'chiledf' is not defined

In [4]:
display(eventlist)

NameError: name 'eventlist' is not defined

In [163]:
for event in eventlist:
    depth = event.depth
    mag = event['mag']
    gap = event['gap']
    magType = event['magType']
    dmin = event['dmin']
    rms = event['rms']
    horizontalError

In [166]:
event.properties

['mag',
 'place',
 'time',
 'updated',
 'tz',
 'url',
 'detail',
 'felt',
 'cdi',
 'mmi',
 'alert',
 'status',
 'tsunami',
 'sig',
 'net',
 'code',
 'ids',
 'sources',
 'types',
 'nst',
 'dmin',
 'rms',
 'gap',
 'magType',
 'type',
 'title']

In [138]:
chiledf.iloc[i]

YEAR                  2015
MONTH                   11
DAY                     11
CAUSE_CODE               1
LATITUDE            -29.46
LONGITUDE           -72.12
PRIMARY_MAGNITUDE      6.9
COUNTRY              CHILE
EVENT_VALIDITY           4
Name: 100, dtype: object

In [132]:
data

,YEAR,MONTH,DAY,CAUSE_CODE,LATITUDE,LONGITUDE,PRIMARY_MAGNITUDE,COUNTRY,EVENT_VALIDITY
0,1562,10,28,1.0,-38.70,-73.50,8.0,CHILE,3
1,1570,2,8,1.0,-36.75,-73.00,8.3,CHILE,3
2,1575,12,16,1.0,-39.80,-73.20,8.5,CHILE,3
3,1615,9,16,1.0,-18.50,-70.35,7.5,CHILE,2
4,1657,3,15,1.0,-36.83,-73.03,8.0,CHILE,3
...,...,...,...,...,...,...,...,...,...
99,2015,9,16,1.0,-31573.00,-71674.00,8.3,CHILE,4
100,2015,11,11,1.0,-29.46,-72.12,6.9,CHILE,4
101,2016,12,25,1.0,-43517.00,-74391.00,7.6,CHILE,4
102,2017,4,24,1.0,-33073.00,-72051.00,6.9,CHILE,4
103,2019,6,14,1.0,-30056.00,-72082.00,6.4,CHILE,4